[Unit]
Description=Scollector service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/scollector -conf /etc/scollector/scollector.toml

[Install]
WantedBy=multi-user.target

